<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shark.app">
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>


    <application
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:allowBackup="true" android:icon="@drawable/bedge"
        android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:name=".apps.SingleApplication"
        android:supportsRtl="true" android:theme="@style/SharkAppBaseTheme" tools:replace="android:icon,android:theme,android:name">
        <activity
            android:theme="@style/FirstActivityTheme"
            android:name=".business.singleactivity.module.ActivitySplash" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test.TestMainActivity">

        </activity>

        <activity android:name=".test.ListTestActivity" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.module.ActivityLogin" android:theme="@style/FrameAppTheme.NoActionBarNoSoftInput" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.module.ActivityMain" android:theme="@style/FrameAppTheme.Navigation" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.tab.ActivityCheckUpList" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.module.ActivityEnterpriseList" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.tab.ActivityPdfBook" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.module.ActivityBook" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.module.ActivityAutoLogin" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.ActivityEnterpriseMesh" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.module.ActivityCollect" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.module.ActivityLaw" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.ActivityLawDetail" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.ActivityEnterpriseBaseDetail" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.module.ActivityHazardsList" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.module.ActivityRecordList" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.module.ActivityPrinterList" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.module.ActivityTroubleInvestigation" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.library.ActivityAqscbz" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.library.ActivityAqscflfg" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.library.ActivityDxsgal" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.library.ActivityWxhxptz" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.library.ActivityYhpcbz" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.library.ActivityZfyj" android:launchMode="singleTop"/>
        <activity android:name=".business.singleactivity.ActivityCheck" android:launchMode="singleTop"/>
    </application>

</manifest>