<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shark.app">
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>


    <application
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:allowBackup="true" android:icon="@drawable/bedge"
        android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:name="com.shark.app.apps.SingleApplication"
        android:supportsRtl="true" android:theme="@style/SharkAppBaseTheme" tools:replace="android:icon,android:theme">
        <activity
            android:theme="@style/FirstActivityTheme"
            android:name=".business.ui.module.ActivitySplash" android:launchMode="singleTop" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.shark.app.business.ui.home.smp.TabMainActivity" android:launchMode="singleTop"
            android:theme="@style/SMPActivityTheme">

        </activity>
        <activity android:name=".test.TestMainActivity">

        </activity>
        <activity android:name=".business.ui.ex.ExActivityLogin" >

        </activity>
        <activity android:name=".business.ui.ConversationActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="${APPID}"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity android:name=".test.ListTestActivity" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.module.ActivityLogin" android:theme="@style/FrameAppTheme.NoActionBarNoSoftInput" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.module.ActivityMain" android:theme="@style/FrameAppTheme.Navigation" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.tab.ActivityCheckHost2Guest" android:launchMode="singleTop"         android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".business.ui.module.ActivityEnterpriseList" android:launchMode="singleTop" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".business.ui.tab.ActivityPdfBook" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.module.ActivityBook" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.module.ActivityAutoLogin" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.ActivityEnterpriseMesh" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.module.ActivityCollect" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.module.ActivityLaw" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.ActivityLawDetail" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.ActivityEnterpriseBaseDetail" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.module.ActivityHazardsList" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.module.ActivityRecordList" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.module.ActivityPrinterList" android:launchMode="singleTop"/>



        <activity android:name=".business.ui.module.ActivityTroubleInvestigation" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.library.ActivityAqscbz" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.library.ActivityAqscflfg" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.library.ActivityDxsgal" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.library.ActivityWxhxptz" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.library.ActivityYhpcbz" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.library.ActivityZfyj" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.xingzhengzhifa.ActivityCheckMenu" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.ActivityTmp" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.xingzhengzhifa.ActivityXianChangJianCha" android:launchMode="singleTop" android:theme="@style/DialogActivity"/>
        <activity android:name=".business.ui.xingzhengzhifa.ActivityChuFa" android:launchMode="singleTop" android:theme="@style/DialogActivity"/>
        <activity android:name=".business.ui.xingzhengzhifa.ActivityChuLiCuoShi" android:launchMode="singleTop" android:theme="@style/DialogActivity"/>
        <activity android:name=".business.ui.xingzhengzhifa.ActivityFangAn" android:launchMode="singleTop" android:theme="@style/DialogActivity"/>
        <activity android:name=".business.ui.xingzhengzhifa.ActivityJiHua" android:launchMode="singleTop" android:theme="@style/DialogActivity"/>
        <activity android:name=".business.ui.xingzhengzhifa.ActivityZeLing" android:launchMode="singleTop" android:theme="@style/DialogActivity"/>
        <activity android:name=".business.ui.xingzhengzhifa.ActivityZhengGai" android:launchMode="singleTop" android:theme="@style/DialogActivity"/>
        <activity android:name=".business.ui.xingzhengzhifa.ActivityGuiDang" android:launchMode="singleTop" android:theme="@style/DialogActivity"/>
        <activity android:name=".business.ui.xingzhengzhifa.ActivityCheckOptionSelect" android:launchMode="singleTop" android:theme="@style/DialogActivity"/>
        <activity android:name=".business.ui.xingzhengzhifa.ActivityCheckChose" android:launchMode="singleTop" android:theme="@style/DialogActivity"/>

        <activity android:name=".business.ui.module.ActivityEnterpriseListOffLine" android:launchMode="singleTop" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".business.ui.ActivityEnterpriseDetailOff" android:launchMode="singleTop"/>
        <activity android:name=".business.ui.xingzhengzhifa.ActivityJiHuaList" android:launchMode="singleTop"/>
        <activity android:name=".test.TestJiaoZ" android:launchMode="singleTop" android:screenOrientation="landscape"/>
        <activity android:name=".test.TestPdf" android:launchMode="singleTop"/>


    </application>

</manifest>